includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # Level 9 is the highest level
    level: 1

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z0-9\\_]+Resource#'
        -
            message: '#Unsafe usage of new static\(\)#'

    checkMissingIterableValueType: false
